@model Parth.Models.User

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-5">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Parth Varmora</font></font></h2>
            <p>
                <font style="vertical-align: inherit;font-size:large">
                    <font style="vertical-align: inherit;">
                        3060819040<br />
                        varmoraparth28322@gmail.com<br />
                        College of Agricultural Information Technology-Anand<br />
                    </font>
                </font>
            </p>
        </div>
        <div class="col-1"></div>
        <div class="col-lg-5">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Saurabh Vyas</font></font></h2>
            <p>
                <font style="vertical-align: inherit; font-size: large">
                    <font style="vertical-align: inherit;">
                        3060819041<br />
                        vyassaurabh88@gmail.com<br />
                        College of Agricultural Information Technology-Anand<br />
                    </font>
                </font>
            </p>
        </div><!-- /.col-lg-4 -->

    </div>

</div>