@model Parth.Models.User

<div class="bg-white container row">
    <div class="col-5 p-3">
        <img src="~/img/kamdhenu.jfif" width="200px" height="120px" />
    </div>
    <div class="col-7">
        Description:
        <h5>Kamdhenu Agro Chamicals</h5>
        <p>Fertilizer</p>
        <p>
            At: Chotila, Surendranagar<br />
            Contact: +919063812840
        </p>
    </div>
</div>
<br />
<div class="bg-white container row">
    <div class="col-5 p-3">
        <img src="~/img/fertilizer.jpg" width="200px" height="120px"/>
    </div>


    <div class="col-7">
        Description:
        <h5>Bajrang Fertilizers</h5>
        <p>Fertilizer</p>
        <p>
            At: Chotila, Surendranagar<br />
            Contact: +916600284746
        </p>
    </div>
</div>